@layer base {
	input,
	select {
		@apply w-full px-3 py-2
			rounded-md border-solid border-2 border-slate-300
			hover:border-teal-500
			focus:outline-2 focus:outline-rose-500;
	}

	button:not(.icon) {
		@apply px-4 py-2
			border rounded-md
			active:drop-shadow-md
			focus:outline-2
			disabled:outline-none
			disabled:active:drop-shadow-none;
	}

	button.icon {
		@apply bg-transparent rounded-full p-2
			hover:bg-slate-900 hover:bg-opacity-20
			focus:outline-2 focus:outline-rose-500
			disabled:opacity-60 disabled:outline-none
			disabled:cursor-not-allowed
			disabled:hover:bg-transparent;
	}

	a {
		@apply cursor-pointer hover:underline;
	}

	input,
	button,
	a {
		@apply transition-colors;
	}
}

@layer components {
	button.primary {
		@apply bg-rose-500 border-rose-500
		text-white
		hover:bg-rose-600
		focus:outline-teal-800
		disabled:bg-rose-300 disabled:border-rose-300;
	}

	button.primary.variant-outline {
		@apply bg-transparent
		text-rose-500 border-rose-500
		hover:bg-rose-300 hover:bg-opacity-30;
	}
}
