@layer base {
	input,
	select {
		@apply w-full px-3 py-2
			rounded-md border-solid border-2 border-slate-300
			hover:border-teal-500
			focus:outline-2 focus:outline-rose-500
			disabled:outline-none
			disabled:hover:border-slate-300;
	}

	button:not(.icon) {
		@apply px-4 py-2
			border rounded-md
			active:drop-shadow-md
			focus:outline-2
			disabled:outline-none
			disabled:active:drop-shadow-none;
	}

	button.icon {
		@apply bg-transparent rounded-full p-2
			hover:bg-slate-900 hover:bg-opacity-20
			focus:outline-2 focus:outline-rose-500
			disabled:opacity-60 disabled:outline-none
			disabled:cursor-not-allowed
			disabled:hover:bg-transparent;
	}

	a {
		@apply cursor-pointer;
	}

	a:not(.no-hover-underline) {
		@apply hover:underline;
	}

	input,
	button,
	a {
		@apply transition-colors;
	}
}

@layer components {
	button.primary {
		@apply bg-rose-500 border-rose-500 text-white
		hover:bg-rose-600 hover:border-rose-600
		focus:outline-teal-800
		disabled:bg-rose-300 disabled:border-rose-300;
	}

	button.alert {
		@apply text-white bg-sky-600 border-sky-600
		hover:bg-sky-700 hover:border-sky-700
		focus:outline-indigo-700
		disabled:bg-sky-300 disabled:border-sky-300;
	}

	button.danger {
		@apply text-white bg-red-500 border-red-500
			hover:bg-red-600
			focus:outline-red-900
			disabled:bg-red-300 disabled:border-red-300;
	}

	button.variant-outline {
		@apply bg-transparent;
	}

	button.primary.variant-outline {
		@apply text-rose-500 border-rose-500
		hover:bg-rose-300 hover:bg-opacity-30;
	}

	button.alert.variant-outline {
		@apply text-sky-600
			hover:bg-sky-300 hover:bg-opacity-30;
	}

	button.danger.variant-outline {
		@apply text-red-500
			hover:bg-red-300 hover:bg-opacity-30;
	}

	button.right-button {
		@apply rounded-l-none;
	}
}
